<footer>
	<div class="container">
		<a href="index.html"><img src="/assets/img/logo2.png" id="footer-logo"></a>
		<br>
		<div class="footer-links">
			<ul>
				<li><a href="index.html">Home</a></li>
				<li><a href="/meetjim.html">Meet Jim</a></li>
				<li><a href="/issues.html">Issues</a></li>
				<li><a href="/volunteer.html">Get Involved</a></li>
				<li><a href="https://secure.actblue.com/contribute/page/townsendforstaterep">Contribute</a></li>
			</ul>
		</div>
		<div class="footer-contacts">
			PO Box 353, Dixon, KY 42409
		</div>
		<div id="paidfor">Paid for by Jim Townsend for State&nbsp;Representative <br>Paula Guinn, Treasurer</div>
	</div>
</footer>
