<header>
	<div class="header-container">
		<div class="logo">
			<a href="/index.html"><img src="/assets/img/logo2.png" class="logoimg"></a>
	    <a href="#" id="mobile-menu-button"><i class='fa fa-2x fa-bars'></i></a>
		</div>
		<nav id="navbar">
			<ul id="nav-menu" class="nav-menu show">
				<li class="nav-link"><a href="/meetjim.html">meet jim</a></li>
				<li class="nav-link"><a href="/issues.html">issues</a></li>
				<li class="nav-link"><a href="/volunteer.html">volunteer</a></li>
				<li class="nav-link"><a href="https://secure.actblue.com/contribute/page/townsendforstaterep" id="donate">contribute</a></li>
			</ul>
		</nav>
	</div>
	<script type="text/javascript" src="/assets/js/navbarToggle.js"></script>
</header>
